{% include "header.html"%}
<div id="logo"> 
    <!-- ################################################################################################ -->
    <h1><a href="../blog">Blog</a></h1>
    <!-- ################################################################################################ -->
  </div>
</header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
<div id="breadcrumb" class="wrapper row2"> 
  <!-- ################################################################################################ -->
  <ul>
    <li><a href="../">Home</a></li>
    <li><a href="../blog">Blog</a></li>
  </ul>
  <!-- ################################################################################################ -->
</div>
</div>
<!-- ################################################################################################ -->
</div>
{% include "footer.html"%}