<!DOCTYPE html>
<html>
<head>
<title>ProData</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/static/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top" style="background-image:url('/static/images/demo/backgrounds/bg1.jpg');">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->

<h1><b><p style="text-align: center; color: white">Your account is now verified</p></b></h1>
<p style="text-align: center;"><a href="../login">Click to Login</a></p>
</body>
</html>

<h1></h1>


