<!DOCTYPE html>
<html>
<head>
<title>ProData</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/static/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded" style="background-image:url('/static/images/demo/backgrounds/bg1.jpg');"> 
  <!-- ################################################################################################ -->
  <div>
    
  </div>
  <div class="wrapper overlay">
    <header id="header" class="hoc clear">
      <nav id="mainav" class="clear"> 
        <!-- ################################################################################################ -->
        <ul class="clear">
          <li><img src="/static/images/demo/logo1.jpg" /></li>
          <li class="active"><a href="../">Home</a></li>
          <li><a class="drop" href="../security">Data Security</a>
            <ul>
              <li><a href="../confidentiality">Confidentiality</a></li>
              <li><a href="../integrity">Integrity</a></li>
              <li><a href="../availability">Availability</a></li>

            </ul>
          </li>
          <!--<li><a class="drop" href="#">Dropdown</a>
            <ul>
              <li><a href="#">Level 2</a></li>
              <li><a class="drop" href="#">Level 2 + Drop</a>
                <ul>
                  <li><a href="#">Level 3</a></li>
                  <li><a href="#">Level 3</a></li>
                  <li><a href="#">Level 3</a></li>
                </ul>
              </li>
              <li><a href="#">Level 2</a></li>
            </ul>
          </li> -->
          <li><a href="#">Services</a></li>
          <li><a href="../blog">Blog</a></li>
          <li><a href="../signup">Sign Up</a></li>
          <li><a href="../login">Login</a></li>
          <li><a href="../aboutus">About Us</a></li>
        </ul>
        <!-- ################################################################################################ -->
      </nav>