{% include "header.html"%}
      <div id="logo"> 
        <!-- ################################################################################################ -->
          
        <h1><a href="../">ProData</a></h1>
        <p>Secure your own data</p>
        <!-- ################################################################################################ -->
      </div>
    </header>
  </div>
  <!-- ################################################################################################ -->
  
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
      <div class="introtxt">
        <p class="font-xs nospace">Your Cybersecurity Solutions Partner</p>
        <h2 class="heading">Protect your Business</h2>
        <p>Our Services offer secrecy and security to your personal and sensitive data.Minimally, an improvement in your security posture keeps confidential, classified, and proprietary business materials out of the hands of competitors</p>
      </div>
      <footer>
        <ul class="nospace inline pushright">
          <!--<li><a class="btn inverse" href="#">Porttitor</a></li> -->
          <!--<li><a class="btn" href="#">Fringilla</a></li> -->
        </ul>
      </footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->

<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="center btmspace-50">
      <h2 class="heading">Our Services</h2>
      <p> Optimize efficiency while minimizing cost, gaining the backing you need when you need us the most.We help organizations respond to threats faster and leverage the latest and most sophisticated cybersecurity technology while retaining a well-documented audit trail.</p>
    </div>
    <ul class="nospace group blocks">
      <li class="one_quarter first bgded overlay" style="background-image:url('/static/images/demo/img2.png');"><a class="btn medium" href="#">HealthCare</a><br>
        Providing Medical 
		Device Security</li>
      <li class="one_quarter bgded overlay" style="background-image:url('/static/images/demo/img2.png');"><a class="btn medium" href="#">Banking</a><br>
        Offering Cybersecurity Management</li>
      <li class="one_quarter bgded overlay" style="background-image:url('/static/images/demo/img2.png');"><a class="btn medium" href="#">Higher Education</a><br>
       Policy Challenges and Privacy Regulations</li>
      <li class="one_quarter bgded overlay" style="background-image:url('/static/images/demo/img2.png');"><a class="btn medium" href="#">Software</a><br>
        Safeguaring shared-service organisations</li>
    </ul>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->

<!--<div class="bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');"> -->
  <!--<section id="testimonials" class="hoc container clear"> -->
    <!-- ################################################################################################ -->
    <!--<div class="center btmspace-50">
      <h2 class="heading">Etiam proin porta interdum</h2>
      <p>Purus vestibulum ante ipsum primis in faucibus orci luctus turpis ullamcorper dolor gravida ut laoreet arcu finibus praesent tincidunt nulla id augue hendrerit ac eleifend turpis tempor suspendisse fringilla massa nec laoreet.</p>
    </div>
    <ul class="nospace group">
      <li class="one_half first">
        <div class="clear"><img src="images/demo/80x80.png" alt=""> <span class="block"><strong>A.Doe</strong> / <em>Position, Company Name</em></span>
          <blockquote>Ornare sed nec sagittis nisi nulla nec aliquam mi interdum et malesuada fames&hellip;</blockquote>
        </div>
      </li>
      <li class="one_half">
        <div class="clear"><img src="images/demo/80x80.png" alt=""> <span class="block"><strong>B.Doe</strong> / <em>Position, Company Name</em></span>
          <blockquote>Ac ante ipsum primis in faucibus curabitur cursus est nec turpis posuere aliquet&hellip;</blockquote>
        </div>
      </li>
    </ul> -->
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->

<!--<div class="wrapper row3">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <!--<div class="center btmspace-50">
      <h2 class="heading">Proin a felis tellus donec</h2>
      <p>Fringilla nisi ut arcu facilisis gravida nullam bibendum nisi risus id viverra felis pharetra eu donec ut lorem risus nullam iaculis lacinia massa et accumsan urna laoreet fermentum etiam ipsum enim bibendum id varius.</p>
    </div>
    <ul class="nospace elements">
      <li class="one_third first">
        <article><a href="#"><img src="images/demo/320x220.png" alt=""></a>
          <div class="txtwrap">
            <h6 class="heading">Malesuada posuere</h6>
            <time datetime="2045-04-06">6<sup>th</sup> April 2045</time>
            <p>Ante pulvinar hendrerit ipsum ut scelerisque sapien purus sit amet&hellip;</p>
            <footer><a href="#">Read More &raquo;</a></footer>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><img src="images/demo/320x220.png" alt=""></a>
          <div class="txtwrap">
            <h6 class="heading">Vivamus sit amet</h6>
            <time datetime="2045-04-05">5<sup>th</sup> April 2045</time>
            <p>Sagittis in aenean porta semper tortor vel blandit magna integer ac&hellip;</p>
            <footer><a href="#">Read More &raquo;</a></footer>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><img src="images/demo/320x220.png" alt=""></a>
          <div class="txtwrap">
            <h6 class="heading">Pulvinar nisl non</h6>
            <time datetime="2045-04-04">4<sup>th</sup> April 2045</time>
            <p>Neque malesuada euismod proin sit amet nisl velit mauris orci nisl&hellip;</p>
            <footer><a href="#">Read More &raquo;</a></footer>
          </div>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->

<!--<div class="wrapper coloured">
  <div class="hoc clear"> 
    <!-- ################################################################################################ -->
    <!--<figure id="logos">
      <ul class="nospace group">
        <li><a href="#"><img src="images/demo/logo.png" alt=""></a></li>
        <li><a href="#"><img src="images/demo/logo.png" alt=""></a></li>
        <li><a href="#"><img src="images/demo/logo.png" alt=""></a></li>
        <li><a href="#"><img src="images/demo/logo.png" alt=""></a></li>
        <li><a href="#"><img src="images/demo/logo.png" alt=""></a></li>
      </ul>
      <figcaption class="hidden"><a class="btn small" href="#">More &raquo;</a></figcaption>
    </figure>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->

{% include "footer.html" %}