{% include "header.html"%}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="/static/layout/styles/style.css">
 
    </header>
  </div>
 <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <div class="login-page">
        <div class="form">
      
          <form class="login-form" method="post" autocomplete="off">
            {% csrf_token %}
<label for ="otp">OTP:</label>
<input class="form-control" type="text" name="otp" placeholder="Enter your otp" required>
<button>Login</button>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="/static/layout/scripts/script.js"></script>

</body>
</html>



    