{% include "header.html"%}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="/static/layout/styles/style.css">
      <div id="logo"> 
        <!-- ################################################################################################ -->
        <h1><a href="">Sign Up</a></h1>
        <!-- ################################################################################################ -->
      </div>
    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row2">
    <div id="breadcrumb" class="wrapper row2"> 
      <!-- ################################################################################################ -->
      <ul>
        <li><a href="../">Home</a></li>
        <li><a href="../signin" >Sign Up</a></li>
      </ul>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
</div>
  <!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content">
      <div class="login-page"> 
        <div class="form">
      
          <form class="login-form" method="post" autocomplete="off">
            {%csrf_token%}

            {{form.username|as_crispy_field}}
            {{form.email|as_crispy_field}}
            {{form.password1|as_crispy_field}}
            {{form.password2|as_crispy_field}}

            <button>Submit</button>
          </form> 

        </div>
     </div>
    </div>
<!-- ################################################################################################ -->
<!-- / main body -->
</main>
</div> 
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="/static/layout/scripts/script.js"></script>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
{% include "footer.html"%}