<!DOCTYPE html>
<html>
<head>
<title>ProData</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/static/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top" style="background-image:url('/static/images/demo/img2.png');">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->

<h1><b><p style="text-align: center; color: white">File Uploaded Successfully</p></b></h1>
<p style="text-align: center;"><a href="../dashboard" class="btn btn-default" >Back to dashboard</a></p>
</body>
</html>



